<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>LearnNew</title>
    <meta charset="UTF-8">
    <meta name="description" content="LearnNew">
	<meta name="keywords" content="LearnNew">
	<link href="img/favicon.ico" rel="shortcut icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="style/style.css" />
	<link rel="stylesheet" href="style/bootstrap.min.css"/>
	<script src="angular.min.js"></script>
    <script src="Favouritecourse.js"></script>
	<!--<link rel="stylesheet" href="style/font-awesome.min.css"/>
	<link rel="stylesheet" href="style/owl.carousel.css"/>-->
</head>

<body>
  <header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<h2 style="color:red">LearnNew</h2>
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					<nav class="main-menu">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li><a href="aboutus.html">About us</a></li>
							<li><a href="courses.html">Courses</a></li>
							<li><a href="blog.html">News</a></li>
							<li><a href="contact.html">Contact</a></li>&nbsp;&nbsp;&nbsp;
							<a href="" class="site-btn">Login</a>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header> 
		  <section class="hero-section" style="background-image:url('img/bg.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
		<div class="container">
			<div class="hero-text text-white">
				<h2>Get The Best Online Courses</h2>
				<p>LearnNew is an open community for students. We help you to learn and explore new, 
				courses and expand your knowledge , and find your next dream job.
                <br> Come and explore your favourite courses</p>
			</div>
			
			 <div class="row">
				<div class="col-lg-10 offset-lg-1">
					<form class="intro-newslatter">
					    
						<input type="text" placeholder="Name" ><br><br>
						<input type="text" placeholder="E-mail"><br><br>
						<input type="text" placeholder="New Password"><br><br>
						<input type="text" placeholder="Confirm Password">&nbsp;&nbsp;&nbsp;&nbsp;
						<button class="site-btn">Sign Up</button>
					</form>
				</div>
			  </div>
			
		</div>
	</section>
	<section class="categories-section spad">
		<div class="container">
			<div class="content">
				                                   <h3>Our Course Categories</h3>
				<p style="font-size:19px";>Start learning on-demand video lectures today from top instructors in subjects like business, computer science, data science, 
				language learning, & more..</p>
			</div>
			<div class="row">
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/1.jpg"></div>
						<div class="ci-text">
							<h5>IT Development</h5>
							<p>some of the courses related to IT development</p>
							<span>Add to Cart</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/2.jpg"></div>
						<div class="ci-text">
							<h5>Web Design</h5>
							<p>designing web and UI</p>
							<span>Add to cart</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/3.jpg"></div>
						<div class="ci-text">
							<h5>Illustration & Drawing</h5>
							<p>Engineering drawing and illurtrations</p>
							<span>Add to cart</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/4.jpg"></div>
						<div class="ci-text">
							<h5>Social Media</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>Add to cart</span>
						</div>
					</div>
				</div>
				<!-- categorie -->
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/5.jpg"></div>
						<div class="ci-text">
							<h5>Photoshop</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>220 Courses</span>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6">
					<div class="categorie-item">
						<div class="ci-thumb set-bg" data-setbg="img/categories/6.jpg"></div>
						<div class="ci-text">
							<h5>Cryptocurrencies</h5>
							<p>Lorem ipsum dolor sit amet, consectetur</p>
							<span>25 Courses</span>
						</div>
					</div>
				</div>
			</div>
			<button class="site-btn" >Explore More</button>
		</div>
	</section>
	<section class="search-section">
		<div class="container">
			<div class="search-warp">
				<div class="content">
					<h3>select your favourite course</h3>
				</div>
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<!-- search form -->
						<form class="course-search-form" ng-app="FavouritecourseApp">
							<!--<input type="text" placeholder="Course">
							<input type="text" class="last-m" placeholder="Category"><br><br>
							<button  class="site-btn" style="text-align:center">Search Couse</button>-->
							<!--Custom Service-->
                            <div ng-controller='favoAddController as courseAdder'>
                              <input type="text" ng-model="courseAdder.courseName" placeholder="Category">
                              <input type="text" ng-model="courseAdder.category" placeholder="Course Name"><br><br>
                              <br><br><button class="site-btn" ng-click="courseAdder.addItem();">Add Course to Favourite</button>
                            </div>
							<div ng-controller='favoAddShowController as showList'>
							  <ol>
								<li ng-repeat="item in showList.items">
								  {{ item.category }} {{ item.courseName }}
								  <button class="site-btn" ng-click="showList.removeItem($index);">Remove Item</button>
								</li>
							  </ol>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
   <footer class="footer-section spad pb-0">
		<div class="footer-top">
			<div class="footer-warp">
				<div class="row">
					<div class="widget-item">
						<h4>Contact Info</h4>
						<ul class="contact-list">
							<li>123 marina beach<br>Chennai,TN</li>
							<li>yourmail@gmail.com</li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Engineering</h4>
						<ul>
							<li><a href="">Applied Studies</a></li>
							<li><a href="">Computer Engineering</a></li>
							<li><a href="">Software Engineering</a></li>
							<li><a href="">Informational Engineering</a></li>
							<li><a href="">System Engineering</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Web development</h4>
						<ul>
							<li><a href="">HTML</a></li>
							<li><a href="">CSS and Javascript</a></li>
							<li><a href="">PHP</a></li>
							<li><a href="">Nodejs</a></li>
							<li><a href="">Angular JS</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Security</h4>
						<ul>
							<li><a href="">Computer Networks</a></li>
							<li><a href="">Cyber Security</a></li>
							<li><a href="">Information Security</a></li>
						</ul>
					</div>
					<div class="widget-item">
						<h4>Newsletter</h4>
						<form class="footer-newslatter
							<li><a href="">Crypography</a></li>">
							<input type="email" placeholder="E-mail">
							<button class="site-btn">Subscribe</button>
							<p>*We don’t spam</p>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-warp">
				<ul class="footer-menu">
					<li><a href="#">Terms & Conditions</a></li>
					<li><a href="#">Register</a></li>
					<li><a href="#">Privacy</a></li>
				</ul>
			</div>
		</div>
	</footer> 
</body>
</html>
